@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

#icons, img {
  width: 220px;
  height: 150px;
}

body{
    text-align: center;
    background-color: #f8f6f0;
    font-family: 'Patrick Hand SC', cursive;
}

.question {
  font-size: 30px;
  margin-bottom: 10px;
}

.answers {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}


  button  {
      align-self:center;
      background:transparent;
      padding:.7rem .7rem;
      margin:0 1rem;
      transition:all .5s ease;
      color:#41403E;
      font-size:2rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    }
button:hover{
    background-color: #38a;
}


.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide{
  opacity: 1;
  z-index: 2;
}

.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 20px;
  display: block;
}

#results {
  font-size: 35px;
}
.quizBox {
  display: none
}
